/*tablets 728-960*/
@media screen and (max-width: 960px){
	.container{
		width: 90%;
	}

	.header__logo {
    	width: 35px;
    	margin-right: 187px;
   	}

   	.email{
   		display: none;
   		
   	}

   	.header__text-block {

       padding-top: 19%;
   }

   .list__item {
   	    margin-right: 21px;
		margin-left: 38px;
  	}

  	.my-work__code-frontend {
	    margin: 57px 0 0 0;
	}

	.about-me__achivements {
    	float: left;
    	width: 655px;

	}

	.achivements__list{
		margin: 0 auto;
	}



}


	
}

/*mobile 0-728*/

@media screen and (max-width: 728px){
	.container{
		width: 90%;
	}
}